.allUsers-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}
.allUsers-components{
    width: 100%;
    height: 100%;
    transition: 0.4s;
    box-sizing: border-box;
    padding: 1rem;
    background-color: var(--white);
    gap: 1rem;
    display: flex;
    flex-direction: column;  

}
.allUsers-components.active{
    margin-left: 19%;
    border-radius: 10px 0 0 0;
}