@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
:root{
    --blue:#4285f4;
    --white:#FFFFFF;
    --bodyBg:#F6F8FC;
    --iconColor : #FAFAFA;
    --iconBorderColor : #EEEEEE;
    --iconTextColor : #616161
}
*{
    font-family: "Lexend", sans-serif;
}

html,body{
    margin: 0;
    padding: 0;
    background-color: var(--bodyBg);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}