.new-profile-container {
    margin-top: 7rem;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.new-profile-components {
    width: 100%;
    height: 100%;
    transition: 0.4s;
    box-sizing: border-box;
    padding: 1rem;
    background-color: var(--white);
}

.new-profile-components.active {
    margin-left: 19%;
    border-radius: 10px 0 0 0;
}

.new-profile-title {
    font-size: 1.2rem;
    font-weight: 400;
    box-sizing: border-box;
    padding: 1rem;
}

.add-new-profile-pic-container {
    height: 5rem;
    width: 5rem;
    background-color: #A2A1A80D;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #A2A1A866;
}

.bi-camera {
    font-size: 1.2rem;
}

.new-profile-input-container {
    margin: 1rem;
    width: 98.5%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start; /* Align items to the start of the container */
}

.new-profile-input-container input[type="text"],
.new-profile-input-container input[type="number"],
.new-profile-input-container select {
    flex: 0 1 30%; /* Fixed width with flex-basis */
    height: 3rem;
    box-sizing: border-box;
    padding: .8rem;
    border: 1px solid #A2A1A899;
    border-radius: 8px;
}

.new-profile-components textarea {
    height: 20%; /* Allow textarea to grow based on content */
    box-sizing: border-box;
    width: 50%;
    margin: 1rem;
    resize: none;
    padding: .8rem;
    border: 1px solid #A2A1A899;
    border-radius: 8px;
}
.new-profile-submit-container{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    width: fit-content;
    margin: 1rem;
}
.new-profile-submit-container input[type="button"]{
    height: 2.7rem;
    width: 7rem;
    border: 1.8px solid #A2A1A866;
    background-color: transparent;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
}
#save{
    background-color: var(--blue);
    border: none;
    color: var(--white);
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .new-profile-input-container input[type="text"],
    .new-profile-input-container input[type="number"],
    .new-profile-input-container select {
        flex: 0 1 45%; /* Adjust to two per row */
    }
}

@media (max-width: 768px) {
    .new-profile-input-container input[type="text"],
    .new-profile-input-container input[type="number"],
    .new-profile-input-container select {
        flex: 0 1 100%; /* Full width on small screens */
    }
}
