.organisation-container {
  margin-top: 7rem;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.organisation-components {
  width: 100%;
  height: 100%;
  transition: 0.4s;
  box-sizing: border-box;
  padding: 1rem;
  background-color: var(--white);
  gap: 1rem;
  display: flex;
  flex-direction: column;

}

.organisation-components.active {
  margin-left: 19%;
  border-radius: 10px 0 0 0;
}

.organisation-searchBar-and-addContainer {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addOrganisation-searchBar {
  width: 30%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
  padding: 0.5rem;
  gap: 0.8rem;
  border-radius: 10px;
  border: solid 1.8px #4285F459;
}

.addOrganisation-searchBar .bi-search {
  font-size: 1.5rem;
}

.addOrganisation-searchBar input[type="text"] {
  height: 90%;
  width: 100%;
  border: none;
  font-size: 1.1rem;
  font-weight: 300;
  outline: none;
}

.organisation-Adding-and-filtering-container {
  width: 30%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

#addOrganisation {
  border-radius: 8px;
  background-color: #4285F4;
  width: 65%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  cursor: pointer;
  font-weight: 400;
  transition: 0.4s;
}
#addOrganisation:active , #filter:active{
  scale: 0.9;
}
#addOrganisation .bi-plus-search {
  font-size: 1.1rem;
}

#filter {
  width: 35%;
  cursor: pointer;
  border-radius: 8px;
  height: 90%;
  border: 1.8px solid #4285F459;
  transition: 0.4s;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 400;
}

#filter .bi-sliders {
  font-size: 1.1rem;
}

.branches-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.branch {
  padding: 0.3rem;
  box-sizing: border-box;
  flex: 1 1 45%;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.8rem;
  height: 10rem;
}

.branchOffice-imageContainer {
  background-color: #E5EDFB;
  height: 100%;
  border-radius: 3px;
  width: 30%;
}
.branchOffice-imageContainer img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.branch-details {
  height: 75%;
  width: 63%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 0.6rem;
}
.branch-title{
  font-size: 1.2rem;
  font-weight: 500;
}
.branch-location{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.4rem;
  color: black;
  font-size: 1.1rem;
  font-weight: 300;
}
.branch-location .bi-geo-alt , .branch-users .bi-person{
  color: #4285F4;
}
.branch-users{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.4rem;
  color: black;
  font-size: 1.1rem;
  font-weight: 300;
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
}
.record-number{
  height: 20%;
  box-sizing: border-box;
  padding: 1rem;
  width: 30%;
  color: #A2A1A8;
  font-weight: 300;
}
.pagination button {
  padding: 5px 10px;
  transition: 0.4s;
  margin: 0 5px;
}

.pagination span {
  margin: 0 5px;
  padding: 5px 10px;
  font-weight: 400;
  transition: 0.4s;
  font-size: 1.1rem;
  cursor: pointer;
}

.pagination span.active {
  border: 1.6px solid #4285F4;
  color: #4285F4;
  border-radius: 8px;
}

@media screen and (max-width:800px) {
  .branches-grid {
    display: flex;
    flex-direction: column;
  }

  .branch {
    width: 100%;
  }
}